@model SysConfigProduct_GetProductItemModel


<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@($@"{Model.ActionTypeName} - 品項資訊")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="product-info-form" asp-area="SysConfig" asp-controller="Product" asp-action="@Model.FormActionName" method="post" autocomplete="off">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-control-label" for="ownername">
                                    品項名稱
                                </label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    @{
                                        if (Model.IsOnlyQuery)
                                        {
                                            @Model.ProductName
                                        }
                                        else
                                        {
                                            <input asp-for="ProductName" class="form-control" type="text">
                                            <span asp-validation-for="ProductName" class="text-danger"></span>
                                        }
                                    }
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-control-label" for="ownername">
                                    品項屬性
                                </label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    @{
                                        if (Model.IsOnlyQuery)
                                        {
                                            @Model.PsiTypeItems.FirstOrDefault(aa => aa.Value == Model.PsiType).Text
                                        }
                                        else
                                        {
                                            <select asp-for="PsiType" asp-items="@Model.PsiTypeItems" style="width: 100%;">
                                                <option></option>
                                            </select>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label class="form-control-label" for="ownername">
                                備註:
                            </label>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                @*<label class="form-control-label" for="reasonforvisit">備註</label>*@

                                @{
                                    if (Model.IsOnlyQuery)
                                    {
                                        @Model.Remark
                                    }
                                    else
                                    {
                                        <textarea asp-for="Remark" class="form-control"></textarea>
                                    }
                                }
                            </div>
                        </div>



                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @{
                        if (!Model.IsOnlyQuery)
                        {
                            <button type="button" id="product-info-action" class="btn btn-primary">@($@"{Model.ActionTypeName}完成")</button>

                        }
                    }
                </div>
                <div name="hidden-fields">
                    <input type="hidden" asp-for="ProductUNID" />
                </div>
            </form>
        </div>
    </div>
</div>