@model PageCustomerEditCustomerInfo
@{
    <link href="~/lib/admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <style>
        .the-fieldset {
            border: 2px solid #e0e0e0;
            padding: 10px;
        }
        /*legend.scheduler-border {
            border-style: none;
            border-width: 0;
            font-size: 1.2em !important;
            line-height: 20px;
            margin-bottom: 0;
            width: auto;
            padding: 0 10px;
            border: 1px solid #e0e0e0;
        }*/
    </style>
    <style>
        legend.scheduler-border {
            font-size: 1.5em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }
    </style>
}

<form asp-area="SysConfig" asp-controller="Customer" asp-action="EditCustomerInfo" method="post" autocomplete="off">
    <div class="row">
        <fieldset class="col-sm-12 the-fieldset">
            <legend class="scheduler-border">客戶資訊</legend>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-control-label" for="ownername">
                            @($@"客戶全稱: {Model.CompanyName}")
                            <span id="show-edit-companyName">
                            </span>
                        </label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">變更為:</span>
                            </div>
                            <input asp-for="EditCompanyName" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-control-label" for="ownername">@($@"統一編號: {Model.TaxId}")</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">變更為:</span>
                            </div>
                            <input asp-for="EditTaxId" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-control-label" for="ownername">@($@"客戶簡稱: {Model.CustomerName}")</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">變更為:</span>
                            </div>
                            <input asp-for="EditCustomerName" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        @{
                            var psiTypeName = Model.PsiTypeItems.FirstOrDefault(item => item.Value == Model.PsiType)?.Text;
                        }
                        <label class="form-control-label" for="ownername">@($@"進出貨歸屬: {psiTypeName}")</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="PsiType">變更為:</label>
                            </div>
                            <select asp-for="EditPsiType" asp-items="@Model.PsiTypeItems" class="select2bs4">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- form-group -->
            @*<div class="form-group col-sm-6">
                    <label class="form-control-label" for="owneremail">統一編號</label>
                    <input aria-describedby="emailHelp" class="form-control" id="owneremail" placeholder="Enter email" type="email">
                </div>
                <div class="form-group col-sm-6">
                    <label class="form-control-label" for="owneremail">客戶簡稱</label>
                    <input aria-describedby="emailHelp" class="form-control" id="owneremail" placeholder="Enter email" type="email">
                </div>
                <div class="form-group col-sm-6">
                    <label class="form-control-label" for="owneremail">進出貨歸屬</label>
                    <input aria-describedby="emailHelp" class="form-control" id="owneremail" placeholder="Enter email" type="email">
                </div>*@
            <!-- form-group -->
        </fieldset>
        <!-- fieldset -->

        <fieldset class="form-group col-sm-6 the-fieldset">
            <legend class="scheduler-border">車牌資訊</legend>
            @*<div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button id="add-carno" class="btn btn-info" type="button">新增車牌</button>
                        </div>
                    </div>
                </div>*@
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <h6 id="carno-message">已關聯:</h6>
                        <ul id="has-carno">
                            @{ if (Model.CustomerCarList.Count == 0)
                                {
                                    <li>無相關車牌</li>
                                }
                                else
                                {
                                    @foreach (var item in Model.CustomerCarList)
                                    {
                                        <li>
                                            <button type="button" class="btn btn-default" name="EditCarNoInfo" value="@item.CarGUID">
                                                @item.CarName
                                            </button>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
                @*<div class="col-sm-6">
                        <div class="form-group">
                            <h6 id="carno-message">變更為:</h6>
                            <ul>
                            </ul>
                        </div>
                    </div>*@
            </div>
        </fieldset>
        <fieldset class="form-group col-sm-6 the-fieldset">
            <legend class="scheduler-border">合約資訊</legend>
            @*<div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <button class="btn btn-info" type="button">新增合約</button>
                        </div>
                    </div>
                </div>*@
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <h6 id="carno-message">已關聯:</h6>
                        <ul>
                            @{ if (Model.CustomerCarList.Count == 0)
                                {
                                    <li>無相關合約</li>
                                }
                                else
                                {
                                    @foreach (var item in Model.CustomerCarList)
                                    {
                                        <li>@item.CarName</li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
                @*<div class="col-sm-6">
                        <div class="form-group">
                            <h6 id="carno-message">變更為:</h6>
                            <ul id="selected-carno">
                            </ul>
                        </div>
                    </div>*@
            </div>
        </fieldset>
        <!-- fieldset -->
        <fieldset class="form-group col-sm-12 the-fieldset">
            <legend class="scheduler-border">備註</legend>
            <div class="form-group">
                @*<label class="form-control-label" for="reasonforvisit">備註</label>*@
                <textarea asp-for="Remark" class="form-control" rows="3" readonly></textarea>
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">變更為:</span>
                </div>
                <textarea asp-for="EditRemark" class="form-control" aria-label="With textarea"></textarea>
            </div>
        </fieldset>


        <!-- form-group -->
    </div>
    <button class="btn btn-primary" id="form_create" type="button">儲存變更</button>
    <a asp-action="OnlineInfo" class="btn btn-secondary">返回</a>
    <div id="dialog-confirm" title="系統資訊">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>確定要儲存變更嗎?</p>
    </div>
</form>

<div name="hidden-fields">
    <input type="hidden" asp-for="CarGuid" />
    <input type="hidden" asp-for="CustomerGuid" />
</div>

<div name="model-temp-carnoinfo"></div>


@section modals{
    @*@await Html.PartialAsync("CustomerInfo", new List<VM_Customer_Info>())*@
}

@*@await Html.PartialAsync("~/Views/HOME/_CreatePurchaseDocPartial.cshtml")*@  <!-- 效能較差  但語法較單純 -->
@*@{await Html.RenderPartialAsync("CustomerInfo", new List<VM_Customer_Info>());}*@ <!-- 效能較好  但語法較複雜 一定要有{}  -->
@*<script src="~/lib/admin-lte/plugins/moment/moment-with-locales.js"></script>
    <script src="~/lib/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="/formhelper/formhelper.bundle.min.js"></script>*@

@section scripts{
    @if (TempData["pageMsg"] != null)
    {
        <script type="text/javascript">
            let message = @Html.Raw(Json.Serialize(TempData["pageMsg"]));
            alert(message);
        </script>
    }

    <script src="~/lib/admin-lte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/admin-lte/plugins/select2/js/select2.full.min.js"></script>

    <!-- Jquery Validation -->
    <script src="~/lib/admin-lte/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/admin-lte/plugins/jquery-validation/additional-methods.min.js"></script>  <!--擴充更多的表單檢核方法-->
    <!-- Page Func Use -->
    <script asp-append-version="true" src="~/psi/create-customer-info.js"></script>
    <script asp-append-version="true" src="~/psi/CustomerAPI.js"></script>
    <script asp-append-version="true" src="~/psi/SysConfigPageHelper.js"></script>
    <script asp-append-version="true" src="~/psi/PageOfSysConfigEditCustomerInfo.js"></script>
    <script asp-append-version="true" src="~/psi/PageOfSysConfigEditCustomerInfoEvents.js"></script>
    <script asp-append-version="true" src="~/psi/PageOfSysConfigEditCustomerInfoValidate..js"></script>

    <script>
        $(function () {
            // Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4',
                placeholder: "請選擇項目"
            })

            // jquery dialog
            $("#dialog-confirm").dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                autoOpen: false,
                buttons: {
                    "儲存": function () {
                        $('#creaet-form').submit();
                        $(this).dialog("close");
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                }
            })


            /* Page Events */
            // 表單建立
            $('#form_create').on('click', function () {
                $("#dialog-confirm").dialog("open");
            })


        })
    </script>
}












