@model VM_Custome_OnlineInfo
@{
    <!-- DataTables -->
    <link href="~/lib/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
}
<div>
    <a href="@Url.Action("CreateCustomerInfo", "Customer", new { area = "SysConfig" })" class="btn btn-primary mb-3">建立客戶資訊</a>
</div>
<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>公司名稱</th>
            <th>統一編號</th>
            <th>客戶名稱</th>
            <th>職稱</th>
            <th>進出貨系統歸屬</th>
            <th>對應車牌</th>
            <th>合約項目</th>
            <th>備註</th>
            <th>最後更新時間</th>
            <th>最後操作人員</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VM_Create_CustomerInfoLs)
        {
            <tr>
                <td>@item.CompanyName</td>
                <td>@item.TaxId</td>
                <td>@item.CustomerName</td>
                <td>@item.Title</td>
                <td>@item.PsiType</td>
                <td>@item.PostCarNo</td>
                <td>@item.PageContract</td>
                <td>@item.Remark</td>
                <td>@item.UpdateTime</td>
                <td>@item.UpdateEmpNo</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>公司名稱</th>
            <th>統一編號</th>
            <th>客戶名稱</th>
            <th>職稱</th>
            <th>進出貨系統歸屬</th>
            <th>對應車牌</th>
            <th>合約項目</th>
            <th>備註</th>
            <th>最後更新時間</th>
            <th>最後操作人員</th>
        </tr>
    </tfoot>
</table>

@section scripts{
    <!-- DataTables  & Plugins -->
    <script src="~/lib/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/admin-lte/plugins/jszip/jszip.min.js"></script>
    <script src="~/lib/admin-lte/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/admin-lte/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
}








