@model PageCustomerOnlineInfo
@{
    <!-- DataTables -->
    <link href="~/lib/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
}
<div>
    <a href="@Url.Action("CreateCustomerInfo", "Customer", new { area = "SysConfig" })" class="btn btn-primary mb-3">建立客戶資訊</a>
</div>
<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>客戶</th>
            <th>客戶簡稱</th>
            <th>對應車牌</th>
            <th>是否有合約</th>
            <th>最後更新時間</th>
            <th>最後操作人員</th>
            <th>功能操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CustomerInfoLs)
        {
            <tr>
                <td>@item.CompanyName</td>
                <td>@item.CustomerName</td>
                <td>@item.PostCarNo</td>
                <td>@item.HasContract</td>
                <td>@item.UpdateTime.ToString("yyyy-MM-dd:HH:mm:ss")</td>
                <td>@item.UpdateEmpNo</td>
                <td>
                    <a asp-action="EditCustomerInfo" asp-route-unid="@item.CustomerGUID" class="btn btn-primary">查詢</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <!-- DataTables  & Plugins -->
    <script src="~/lib/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/admin-lte/plugins/jszip/jszip.min.js"></script>
    <script src="~/lib/admin-lte/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/admin-lte/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');


            //$("#example1").on("click", "button[name='q-detail']", function () {
            //    let snVal = $(this).val();
            //    window.location.href = "/sysconfig/customer/editcustomerinfo?sn=" + snVal;
            //});

        });
    </script>
}








