@model WeightNoteCreateWeightNote
@{
    <link href="~/lib/admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <style>
        .the-fieldset {
            border: 2px solid #e0e0e0;
            padding: 10px;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            padding: 6px 0px;
            border-radius: 15px;
            text-align: center;
            font-size: 12px;
            line-height: 1.42857;
        }
        /*legend.scheduler-border {
            border-style: none;
            border-width: 0;
            font-size: 1.2em !important;
            line-height: 20px;
            margin-bottom: 0;
            width: auto;
            padding: 0 10px;
            border: 1px solid #e0e0e0;
        }*/
    </style>
    <style>
        legend.scheduler-border {
            font-size: 1.5em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }
    </style>
}


<form id="create-form" asp-action="CreateWeightNote" method="post" autocomplete="off">
    <div class="row">
        <fieldset class="col-sm-12 the-fieldset">
            <legend class="scheduler-border">出貨客戶資訊</legend>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-control-label" for="ownername">出貨對象</label>
                        <select asp-for="CustomerUNID" asp-items="@Model.CustomerInfoItems" class="select2bs4" style="width: 100%;">
                            <option value=""></option>
                            @*<option value="0">0.新客戶</option>*@
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>磅秤類型</label>
                        <br />
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input asp-for="ScaleNo" id="ScaleNo1" type="radio" class="form-check-input" value="1" checked>大磅
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input asp-for="ScaleNo" id="ScaleNo2" type="radio" value="2" class="form-check-input">小磅
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </fieldset>
        @*<fieldset class="form-group col-sm-12 the-fieldset">
                <legend class="scheduler-border">出貨相關合約</legend>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="form-control-label">合約名稱</label>
                        <select asp-for="ContractUNID" asp-items="@Model.CustomerContractItems" style="width: 100%;">
                            <option value="">&nbsp;</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-control-label">合約重量:</label>
                                <span id="ShowContractWeight"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-control-label">合約單價</label>
                                <span id="ShowContractUnitPrice"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-control-label">已完成重量</label>
                                <span id="NowContractWeight"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-control-label">目前合約金額</label>
                                <span id="NowContractActualPrice"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>*@
        <!-- fieldset -->
        <fieldset class="form-group col-sm-12 the-fieldset">
            <legend class="scheduler-border">廠內出貨資訊</legend>
            <div class="row">

                <!--<div class="col-sm-3">
                <div class="form-group">
                    <div class="form-group">
                        <label class="form-control-label">扣重(試算)</label>
                        <input asp-for="DefectiveWeight" class="form-control" type="text" placeholder="扣重">-->
                @*<span asp-validation-for="LeaveWeight" class="text-danger"></span>*@
                <!--</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-control-label">運費單價(試算)</label>
                        <input asp-for="TraficUnitPrice" class="form-control" type="text" placeholder="運費單價">
                    </div>
                </div>-->
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="form-control-label">出貨總重量(kg)</label>
                            <input asp-for="SalesWeight" class="form-control" type="text" placeholder="出貨重量">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-control-label" for="CarNoId">出貨車牌</label>
                        <select asp-for="CarNoUNID" asp-items="@Model.CarNoItems" class="select2bs4" style="width: 100%;">
                            <option value=""></option>
                            @*<option value="0">0.新車牌</option>*@
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-control-label" for="CarNoId">怪手疊貨司機</label>
                        <select asp-for="ExcavatorOperUNID" asp-items="@Model.CarNoItems" class="select2bs4" style="width: 100%;">
                            <option value=""></option>
                            @*<option value="0">0.新車牌</option>*@
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-control-label" for="ownername">出貨磅單時間</label>
                        <div class="input-group date" id="fullWeightTime_com" data-target-input="nearest">
                            <input asp-for="SalesTime" type="text" class="form-control datetimepicker-input" data-target="#fullWeightTime_com" />
                            <div class="input-group-append" data-target="#fullWeightTime_com" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <!--<span asp-validation-for="FusllWeightTime" class="text-danger"></span>-->
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div style="display:inline">
                            <label id="total"><span>品項組成: 無選擇項目</span></label>
                            <h6 class="form-control-label" style="display:inline-block;">，調整磅單認定</h6>
                            @*<select asp-for="ProductItemUNID" asp-items="@Model.ProductItemItems" class="select2bs4" style="display: inline-block;">  先用普通的*@
                            <select asp-for="ProductItemUNID" asp-items="@Model.ProductItemItems" style="display: inline-block;">
                                <option value=""></option>
                                @*<option value="0">0.新客戶</option>*@
                            </select>
                            <span asp-validation-for="ProductItemUNID" class="text-danger"></span>
                            @*<button type="button" class="btn btn-primary" style="display: inline-block;">成本試算</button>*@
                        </div>

                        @*<input asp-for="SelectPurchaseDetailInfos" type="hidden" />
                            <span asp-validation-for="SelectPurchaseDetailInfos" class="text-danger"></span>*@
                        <select id="user-select-proditem" name="USProdList" asp-items="@Model.ProductItemItems" class="select2bs4" multiple="multiple" style="width: 100%;">
                        </select>


                    </div>

                </div>
                <!--<div class="col-sm-4">
                <div class="form-group">
                    <label class="form-control-label">磅單認定</label>
                    <span asp-validation-for="ProductItemUNID" class="text-danger"></span>
                    <select asp-for="ProductItemUNID" asp-items="@Model.ProductItemItems" class="select2bs4" style="width: 100%;">
                        <option value=""></option>-->
                @*<option value="0">0.新客戶</option>*@
                <!--</select>
                    </div>
                </div>-->

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="col-sm-1">出貨品項</th>
                                <th class="col-sm-1">品項比例</th>
                                <th class="col-sm-1">預計出貨(kg)</th>
                                <th class="col-sm-1">目前庫存(kg)</th>
                                @*<th class="col-sm-1">扣重(試算)</th>*@
                                <th class="col-sm-2">品項即時平均成本(元/kg)</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th colspan="4" style="text-align:right">出貨成本:</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                @*<div class="col-sm-12">
                        <table id="example2" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-sm-4">請款金額[開發票](試算)</th>
                                    <th class="col-sm-4">運費金額[索取發票](試算)</th>
                                    <th class="col-sm-4">實收金額(試算)</th>
                                </tr>
                            </thead>
                        </table>
                    </div>*@

            </div>

        </fieldset>

        <!--<fieldset class="form-group col-sm-12 the-fieldset">
            <legend class="scheduler-border">金額計算</legend>
            <div class="row">

                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="col-sm-3">
                                    請款金額 = (出貨重量 - 扣重) * 單價
                                    <span>
                                        (含稅?
                                        <input asp-for="InvoicePriceHasTax" type="checkbox" />
                                        )
                                    </span>
                                </th>
                                <th class="col-sm-3">
                                    運費 = (出貨重量 - 扣重) * 運費單價
                                    <span>
                                        (含稅?
                                        <input asp-for="TraficFeeHasTax" type="checkbox" />
                                        )
                                    </span>

                                </th>
                                <th class="col-sm-6">實收金額 = (請款金額 - 運費)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h1 style="color:red" id="show_invoice_price"></h1>
                                </td>
                                <td>
                                    <h1 id="show_trafic_price"></h1>
                                </td>-->
        @*<td>
                <div class="form-group">
                    <div class="form-check-inline">
                        是否含稅
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input asp-for="HasTax" type="radio" class="form-check-input ishas_tax" value="@true" id="IsHasText_1">是
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input asp-for="HasTax" type="radio" class="form-check-input ishas_tax" value="@false" id="IsHasText_2" checked>否
                        </label>
                    </div>
                </div>
            </td>*@
        <!--<td>
                                    <h1 id="show_received_price"></h1>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label>磅秤類型</label>
                        <br>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input asp-for="ScaleNo" id="ScaleNo1" type="radio" class="form-check-input" value="1" checked>大磅
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input asp-for="ScaleNo" id="ScaleNo2" type="radio" value="2" class="form-check-input">小磅
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label style="color:blue">預估收款方式</label>
                        <select asp-for="ReceivedType" asp-items="Model.ReceivedTypeItems" class="select2bs4" style="width: 100%;">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label style="color:blue">預估收款日</label>
                        <div class="input-group date" id="payTime_com" data-target-input="nearest">
                            <input asp-for="ReceivedTime" type="text" class="form-control datetimepicker-input" data-target="#payTime_com" />
                            <div class="input-group-append" data-target="#payTime_com" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>-->
        <fieldset class="form-group col-sm-12 the-fieldset">
            <legend class="scheduler-border">備註</legend>
            <div class="form-group col-12">
                @*<label class="form-control-label" for="reasonforvisit">備註</label>*@
                <textarea asp-for="Remark" class="form-control" rows="3"></textarea>
            </div>
        </fieldset>


        <!-- form-group -->
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary" id="form_create" type="button">確定出貨</button>

    </div>

    <div id="ingredientPost">
    </div>
    <div id="dialog-confirm" title="系統資訊">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>確定要開單嗎?</p>
    </div>
</form>



@section scripts{
    @if (TempData["pageMsg"] != null)
    {
        <script type="text/javascript">
            let message = @Html.Raw(Json.Serialize(TempData["pageMsg"]));
            alert(message);
        </script>
    }
    <script src="~/lib/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/admin-lte/plugins/moment/moment-with-locales.js"></script>
    <script src="~/lib/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/lib/admin-lte/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/lib/admin-lte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/psi/PurchaseProdItem.js"></script>
    <script asp-append-version="true" src="~/lib/admin-lte/plugins/sweetalert2/sweetalert2.all.min.js"></script>
    <script asp-append-version="true" src="~/psi/CustomerAPI.js"></script>
    <script asp-append-version="true" src="~/psi/CustomerContractAPI.js"></script>
    <script asp-append-version="true" src="~/psi/SalesPriceAPIClass.js"></script>
    @*<script asp-append-version="true" src="~/psi/SwalStatic.js"></script>*@
    @*<script asp-append-version="true" src="~/psi/test.js"></script>*@
    <script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
    <script asp-append-version="true" src="~/psi/WeightAPIClass.js"></script>
    <script asp-append-version="true" src="~/psi/InventoryAPIClass.js"></script>
    <script asp-append-version="true" src="~/psi/PurchaseProdItemList.js"></script>
    <script asp-append-version="true" src="~/psi/SalesWeightNoteCreateWeightNote.js"></script>
    <script asp-append-version="true" src="~/psi/CostAPIClass.js"></script>


    @*Form helper套件無法在Promp出來的頁面來使用 會看到 The request is not in the expected format. Check jQuery is loaded! 的錯誤訊息
        感覺是 透過ajax去做post的時候需要處裡 token的問題 要把token加在header 可參考黑大的文章*@

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>*@

    <script>
        $(function () {
            /* Initialize Elements */
            const pageMain = new SalesWeightNoteCreateWeightNote(window.baseApiUrl);
            pageMain.PagePluginInit();
            pageMain.PageEventInit();
            pageMain.PageValidateInit();




            // Datetimepicker
            $('#fullWeightTime_com').datetimepicker({
                defaultDate: moment(),
                locale: 'zh-tw',
                icons: { time: 'far fa-clock' }
            });
            $('#payTime_com').datetimepicker({
                locale: 'zh-tw',
                defaultDate: moment(),
                format: 'L',
                icons: { time: 'far fa-clock' }
            });





            /* Page Events */


        })
    </script>
}














