@model WeightNoteUpdateActualData
@{
    <link href="~/lib/admin-lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <style>
        .the-fieldset {
            border: 2px solid #e0e0e0;
            padding: 10px;
        }
        /*legend.scheduler-border {
            border-style: none;
            border-width: 0;
            font-size: 1.2em !important;
            line-height: 20px;
            margin-bottom: 0;
            width: auto;
            padding: 0 10px;
            border: 1px solid #e0e0e0;
        }*/


    </style>
    <style>
        legend.scheduler-border {
            font-size: 1.5em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }
    </style>

}


<form id="create-form" asp-action="UpdateActualData" method="post" autocomplete="off">

    <div class="row">
        <fieldset class="col-sm-12 the-fieldset">
            <legend class="scheduler-border">@($@"廠內出貨資訊 (單號:{Model.DTO_SWeightNote.DOC_NO})")</legend>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-control-label" for="ownername">出貨對象</label>
                        <p>@Model.DTO_SWeightNote.DTO_CustomerInfo.CUSTOMER_NAME</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-control-label" for="CarNoId">磅秤類型</label>
                        <p>@(Model.DTO_SWeightNote.SCALE_NO == 1 ? "大磅" : "小磅")</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-control-label" for="CarNoId">出貨車牌</label>
                        @{
                            var carNoTypeName = ((PSIEnum.PSIType)Model.DTO_SWeightNote.DTO_CustomerCar.CAR_NO_TYPE).GetDescription();
                            var carNoRs = $@"{Model.DTO_SWeightNote.DTO_CustomerCar.CAR_NAME} ({carNoTypeName})";
                        }
                        <p>@carNoRs</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-control-label" for="ownername">廠內出貨時間</label>
                        <p>@Model.DTO_SWeightNote.SALES_TIME.ToString("yyyy/MM/dd  HH:mm")</p>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group col-sm-12 the-fieldset">
            <legend class="scheduler-border">客戶收貨回填資訊</legend>
            @{
                @*var etimateStepData = Model.DTO_SWeightNote.DTO_SalesWeightNoteStepDatas
                    ?.FirstOrDefault(aa => aa.DATA_STEP == (int)S_Enum.WeightNotesStatus.CreateDoc);*@
            }
            <div class="row">
                <div class="col-sm-3">
                    <label class="form-control-label">出貨重量:(客戶那邊磅的重量要記錄嗎?)</label>
                    <p>@Model.DTO_SWeightNote.INSIDE_SALES_WEIGHT</p>
                </div>
                <div class="col-sm-3">
                    <label class="form-control-label">客戶扣重:</label>
                    <input asp-for="ActualDefectiveWeight" class="form-control" type="text" placeholder="客戶扣重">
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-control-label">運費:</label>
                        <input asp-for="ActualTraficFee" class="form-control" type="text" placeholder="運費">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="form-control-label">運費單價:</label>
                        <span>前端計算</span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="form-control-label">客戶評級方式:</label>
                        @{
                            var srcInspectMethords = S_Enum.GetAllInspectMethords().ToPageSelectList();
                        }
                        <div class="form-group">
                            <select asp-for="InspectMethord" asp-items="srcInspectMethords" class="select2bs4" style="width: 100%;">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <fieldset class="col-sm-3 the-fieldset">
                    <legend class="scheduler-border">整批評級填寫</legend>
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="form-control-label">廠內判定整批品項:</label>
                            <p>@Model.DTO_SWeightNote.DTO_ProductItem.PRODUCT_NAME</p>
                        </div>
                        <div class="col-sm-12">
                            <label class="form-control-label">客戶判定整批品項:</label>
                            @{
                                var srcInspectMethords2 = S_Enum.GetAllInspectMethords().ToPageSelectList();
                            }
                            <div class="form-group">
                                <select asp-items="srcInspectMethords2" class="select2bs4" style="width: 100%;">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label class="form-control-label">客戶收貨整批單價:</label>
                            <input asp-for="ActualDefectiveWeight" class="form-control" type="text" placeholder="整批單價">
                        </div>
                        <div class="col-sm-12">
                            <label class="form-control-label">客戶判定整批等級:</label>
                            @{
                                var srcInspectLevels = S_Enum.GetAllInspectLevels().ToPageSelectList();
                            }
                            <div class="form-group">
                                <select asp-items="srcInspectLevels" class="select2bs4" style="width: 100%;">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>

                    </div>
                </fieldset>
                <fieldset class="col-sm-9 the-fieldset">
                    <legend class="scheduler-border">各別評級填寫</legend>
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-sm-1">品項名稱</th>
                                    <th class="col-sm-1">品項比重</th>
                                    <th class="col-sm-1">成本單價</th>
                                    <th class="col-sm-1">實際單價</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var writeOffLogInfo = Model.DTO_SWeightNote.DTO_PSWriteOffLog;
                                    var pInventoriesInfo = Model.DTO_SWeightNote.DTO_PInventories;
                                    var writeOffLogJoinRs = writeOffLogInfo.Join(pInventoriesInfo,
                                   o => new { o.PURCHASE_WEIGHTNOTE_UNID, o.PRODUCT_UNID },

                                    p => new { p.PURCHASE_WEIGHTNOTE_UNID, p.PRODUCT_UNID },
                                       (writeOffLog, pInventory) => new
                                       {
                                           writeOffLog.PRODUCT_UNID,
                                           writeOffLog.PURCHASE_WEIGHTNOTE_UNID,
                                           writeOffLog.WRITEOFF_WEIGHT,
                                           PurchaseUNID = pInventory.PURCHASE_WEIGHTNOTE_UNID,
                                           pInventory.PURCHASE_DOC_NO,
                                           pInventory.UNIT_PRICE
                                       });
                                }
                                @foreach (var item in Model.DTO_SWeightNote.DTO_SWeightNoteIngredients.Select((value, index) => (value, index)))
                                {
                                    var relWriteOfffLogs = writeOffLogJoinRs.Where(aa => aa.PRODUCT_UNID == item.value.PRODUCT_UNID);
                                    var sumWriteOffWeight = relWriteOfffLogs.Sum(aa => aa.WRITEOFF_WEIGHT);
                                    var sumWriteOffPrice = relWriteOfffLogs.Sum(aa => aa.WRITEOFF_WEIGHT * aa.UNIT_PRICE);
                                    var costUnitPrice = sumWriteOffPrice / sumWriteOffWeight;
                                    var relPurcheaseDocNos = string.Join(";", relWriteOfffLogs.Select(aa => $@"({aa.PURCHASE_DOC_NO} => {aa.WRITEOFF_WEIGHT}kg , 單價:{aa.UNIT_PRICE})"));

                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                @item.value.ITEM_NAME
                                            </div>
                                        </td>
                                        <td>
                                            @($@"{sumWriteOffWeight}kg  ({item.value.ITEM_PERCENT}%)")
                                        </td>
                                        <td>
                                            @costUnitPrice
                                            <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="@($@"沖銷進貨單號:{relPurcheaseDocNos}")"></i>
                                        </td>
                                        <td>
                                            <input name="@($@"{nameof(Model.UpdateSWeightNoteIngredients)}[{item.index}].{nameof(DTO_S_WeightNote_Ingredient.REAL_UNIT_PRICE) }")" class="form-control" type="text" placeholder="出貨單價">
                                            @*<span asp-validation-for="LeaveWeight" class="text-danger"></span>*@

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </fieldset>

                <fieldset class="col-sm-12 the-fieldset">
                    <legend class="scheduler-border">金額結算</legend>
                    <div class="form-row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-sm-1">階段</th>
                                        <th class="col-sm-1">平均單價</th>
                                        <th class="col-sm-1">
                                            請款金額
                                            <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="請款金額 = (出貨重量 - 扣重) * 單價 * 稅率"></i>
                                        </th>
                                        <th class="col-sm-1">

                                            <input asp-for="ActualInvoicePriceHasTax" type="checkbox" />(需開發票?)

                                        </th>
                                        <th class="col-sm-1">
                                            運費
                                            <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="運費 = (出貨重量 - 扣重) * 運費單價"></i>
                                        </th>
                                        <th class="col-sm-1">
                                            售貨金額
                                            <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="售貨金額 = (請款金額 - 運費)"></i>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h1 id="show_invoice_price">成本</h1>
                                        </td>
                                        <td>
                                            Yes
                                        </td>
                                        <td>
                                            <h1 style="color:red" id="show_invoice_price"></h1>
                                        </td>
                                        <td>
                                            Yes
                                        </td>
                                        <td>
                                            <h1 id="show_trafic_price"></h1>
                                        </td>
                                        <td>
                                            Yes
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h1 style="color:red" id="show_invoice_price">實際</h1>
                                        </td>
                                        <td>
                                            Yes
                                        </td>
                                        <td>
                                            <h1 style="color:red" id="show_invoice_price"></h1>
                                        </td>
                                        <td>
                                            Yes
                                        </td>
                                        <td>
                                            <h1 id="show_trafic_price"></h1>
                                        </td>
                                        <td>
                                            Yes
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label style="color:blue">預估收款方式</label>
                                <select asp-for="ReceivedType" asp-items="Model.ReceivedTypItems" class="select2bs4" style="width: 100%;">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label style="color:blue">預估收款日</label>
                                <div class="input-group date" id="payTime_com" data-target-input="nearest">
                                    <input asp-for="ReceivedTime" type="text" class="form-control datetimepicker-input" data-target="#payTime_com" />
                                    <div class="input-group-append" data-target="#payTime_com" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>

        </fieldset>
        <fieldset class="form-group col-sm-12 the-fieldset">
            <legend class="scheduler-border">備註</legend>
            <div class="form-group col-12">
                @*<label class="form-control-label" for="reasonforvisit">備註</label>*@
                <textarea asp-for="Remark" class="form-control" rows="3"></textarea>
            </div>
        </fieldset>


        <!-- form-group -->
    </div>

    <button class="btn btn-primary" id="form_create" type="button">建立</button>

    <div id="ingredientPost">
    </div>
    <div id="dialog-confirm" title="系統資訊">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>確定要開單嗎?</p>
    </div>
</form>



@section scripts{
    @if (TempData["pageMsg"] != null)
    {
        <script type="text/javascript">
            let message = @Html.Raw(Json.Serialize(TempData["pageMsg"]));
            alert(message);
        </script>
    }
    <script src="~/lib/admin-lte/plugins/moment/moment-with-locales.js"></script>
    <script src="~/lib/admin-lte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/lib/admin-lte/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/lib/admin-lte/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/psi/PurchaseProdItem.js"></script>
    <script asp-append-version="true" src="~/psi/CustomerAPI.js"></script>
    <script asp-append-version="true" src="~/psi/CustomerContractAPI.js"></script>
    <script asp-append-version="true" src="~/psi/SalesPriceAPIClass.js"></script>
    <script asp-append-version="true" src="~/psi/PurchaseProdItemList.js"></script>
    <script asp-append-version="true" src="~/psi/SalesWeightNoteUpdateActualData.js"></script>


    @*Form helper套件無法在Promp出來的頁面來使用 會看到 The request is not in the expected format. Check jQuery is loaded! 的錯誤訊息
        感覺是 透過ajax去做post的時候需要處裡 token的問題 要把token加在header 可參考黑大的文章*@

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>*@

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            /* Initialize Elements */
            const pageMain = new SalesWeightNoteUpdateActualData(window.baseApiUrl);
            pageMain.PagePluginInit();
            pageMain.PageEventInit();
            @*pageMain.PageValidateInit();*@



            // Datetimepicker
            $('#fullWeightTime_com').datetimepicker({
                defaultDate: moment(),
                locale: 'zh-tw',
                icons: { time: 'far fa-clock' }
            });
            $('#payTime_com').datetimepicker({
                locale: 'zh-tw',
                defaultDate: moment(),
                format: 'L',
                icons: { time: 'far fa-clock' }
            });




            /* Page Events */


        })
    </script>
}














